.imagemUser {
    margin-top: 10px;
    width: 200px;
    height: 180px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}