.cadastroLayout {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.cadastro{
    width: 300px;
    height: 325px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.cadastro h1 {
    margin-top: 0px;
}

.marginPassEmail{
    margin-top: 5px;
}

.btns{
    margin-top: 10px;
    width: 250px;
    display: flex; 
    margin-bottom: 22px;
    justify-content: flex-end;
}

.btns button:nth-child(2){
    margin-left: 10px; ;
    margin-right: 2px;
}