$btnDecoration: none;
$btnColor: white;

.auth{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.auth h1{
    margin-top: 0px;
    margin-bottom: 10px;
}

.auth button{
    border: unset;
    height: 30px;
    cursor: pointer;
    padding-inline: 22px;
}

.btns{
    display: flex; 
    justify-content: space-around;
    width: 200px;
    margin-bottom: 5px;
}

.signIn{
    background-color: #081d1d;
}

.signIn a {
    text-decoration: $btnDecoration;
    color: $btnColor;
}
  
.signUp{
    margin-left: 10px;
    background-color: #064e4e;
    color: white;
}

.signUp a {
    text-decoration: $btnDecoration;
    color: $btnColor;
}

.signOut{
    background-color: #ea1212; 
    color: white; 
    width: 200px;
}